* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 300px;
    margin: 0 auto;
    padding: 8px;
    border: 3px solid black;
}