* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

main {
    width: 350px;
    margin: 0 auto;
    padding: 8px;
    border: 3px solid black;
}

.main-heading {
    margin: 0px;
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    border-bottom: 1px solid black;
}