* {
    box-sizing: border-box;
}

p {
    margin: 0px;
}

body {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    width: min(100%, 410px);
    margin: 0 auto;
}

main {
    padding: 8px;
    border: 3px solid black;
}

.main-heading {
    margin: 0px;
    font-size: 52px;
    font-weight: 900;
    text-align: center;
    border-bottom: 1px solid black;
}

.serving-info {
    margin-top: 8px;
    font-size: 21px;
}

.serving-size {
    margin-top: 8px;
    padding-bottom: 4px;
    display: flex;
    justify-content:space-between;
    font-weight: 800;
    border-bottom: 10px solid black;
}

.per-serving {
    font-size: 18px;
    font-weight: 800;
    margin-top: 4px;
}

.calorie-total {
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    font-weight: 800;
    border-bottom: 5px solid black;
}

.nutrient-daily-value {
    font-size: 18px;
    margin-top: 4px;
    border-bottom: 10px solid black;
}

.nutrient-daily-value dt, .nutrient-daily-value dd {
    border-top: 1px solid rgb(155, 155, 155);
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
}

.nutrient-daily-value dd {
    margin-left: 20px;
}

.nutrient-daily-value dl {
    margin: 4px 0;
}

.daily-value-column-name {
    text-align: right;
    font-weight: 800;
    padding-top: 2px;
}

.percentage-value {
    font-weight: 800;
}

#indent-sugar {
    margin-left: 40px;
}

.other-nutrients {
    font-size: 18px;
    margin: 4px 0 8px 0;
    border-bottom: 5px solid black;
    padding-bottom: 2px;
}
.other-nutrients ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.other-nutrients li {
    padding: 4px 0;
    border-bottom: 1px solid rgb(155, 155, 155);
    display: flex;
    justify-content: space-between;
}

#dont-need-border {
    border-bottom: none;
}

.note ul {
    font-size: 16px;
    list-style: "* ";
    padding-left: 10px;
    margin: 0;
    color: rgb(73, 73, 73);
}